adium-theme-ubuntu==0.3.4
attrs==15.2.0
beautifulsoup4==4.4.1
chardet==2.3.0
cryptography==1.2.3
enum34==1.1.2
evdev==0.7.0
gyp==0.1
html5lib==0.999
idna==2.0
ipaddress==1.0.16
lxml==3.5.0
numpy==1.13.3
PAM==0.4.2
pandas==0.21.0
pbr==3.1.1
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycrypto==2.6.1
pygobject==3.20.0
pyOpenSSL==0.15.1
pyscard==1.9.2
pyserial==3.3
python-dateutil==2.6.1
pytz==2017.3
pywatchman==1.2.0
qt4reactor==1.0
service-identity==16.0.0
six==1.11.0
stevedore==1.23.0
Twisted==16.0.0
unity-lens-photos==1.0
vboxapi==1.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xmlschema==0.9.11
youtube-dl==2016.2.22
zope.interface==4.1.3
